<!DOCTYPE html>
<html lang="ko"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="/layout/layout">
<head>
	<title>Index page</title>
</head>
<body>
	<section layout:fragment="content">
		<button th:if="${info}" class="pure-button" id="btn_delete">delete master</button>
		<button th:unless="${info}" class="pure-button" id="btn_register">register master</button>
		<table class="pure-table">
		    <thead>
		        <tr>
		            <th>name</th>
		            <th>pbk</th>
		            <th>level</th>
		            <th>test</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:if="${info}">
		            <td th:text="${info.email}">master name</td>
		            <td th:text="${info.publicKey}">master pbk</td>
		            <td th:text="${info.level}">master level</td>
		            <td th:text="${loginUser}">test</td>
		        </tr>
		    </tbody>
		</table>
    </section>
	<section layout:fragment="script">
        <script th:inline="javascript">
    	$(document).ready(function() {
    		$( "#btn_register" ).click(function() {
				location.href="/master/register";
    		});
    		$( "#btn_delete" ).click(function() {
				location.href="/master/unregister";
    		});
    	});
    </script>
    </section>
</body>
</html>